<div class="form is-grouped is-horizontal my-2">
    <%= f.label :description, class:"form-label" %><br>
    <%= f.text_field :description, class: "input" %>
    <%= f.check_box :correct, class: "form-checkbox" %> Correta?
    <%= link_to_remove_association(t('buttons.remove'), f) %>
</div>