<div class="nested-fields">
    <%= f.label :description, class:"form-label form-inline" %><br>
    <%= f.text_field :description, class: "form-field form-inline" %>
    <%= f.check_box :correct, class: "form-checkbox form-inline" %> Correta?

    <%= link_to_remove_association('Remover', f) %>
</div>