<!-- TODO: Refatorar esse código, ou usar alguma lib js -->
<%# <script>
setTimeout(() => {
    $('#notice').delay(1000).fadeOut(300);
}, 5000);

$(document).ready(function() {
    $('#notice').prepend("<button id='close' class='button button-clear float-right'></button>")
    $('#close').on('click', function(e) {
        $('#notice').remove();
    });
});
</script> %>

<style>
#notice {
    z-index:1;
    position:fixed;
    bottom:0;
}
</style>

<% if flash.any? %>
    <% flash.each do |type, message| %>
        <div id="notice" class="notification <%= "is-#{type}" %>">
            <p class="text-left"><%= message %></p>
        </div>
    <% end %>
<% end %>
