<!-- TODO: Refatorar esse código, ou usar alguma lib js -->
<script>
setTimeout(() => {
    $('#notice').delay(1000).fadeOut(300);
}, 5000);

$(document).ready(function() {
    $('#notice').prepend("<button id='close' class='btn btn-clear float-right'></button>")
    $('#close').on('click', function(e) {
        $('#notice').remove();
    });
});
</script>

<style>
#notice {
    z-index:1;
    position:fixed;
    top:0;
    left:0;
}
</style>

<% if flash.any? %>
    <div id="notice" class="toast toast-success">
    <% flash.each do |type, message| %>
        <p class="text-center"><%= message %></p>
    <% end %>
    </div>
<% end %>
