<h2>Administradores</h2>
<table class="table">
  <thea d>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @admins.each do |admin| %>
        <td><%= admin.id %></td>
        <td><%= admin.email %></td>
        <td style="width:100px">
          <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-success s-circle" do %>
            <i class="icon icon-edit"></i>
          <% end %>
          <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-error s-circle" do %>
            <i class="icon icon-delete"></i>
          <% end %>
        </td>

      <% end %>
    </tr>
  </tbody>
</table>
