<h2>Administradores</h2>
<table class="w-100 collapse ba br4 b--black-05">
  <thea d>
    <tr class="striped--near-white tl">
      <th class="pv1 ph2 mid-gray">#</th>
      <th class="pv1 ph2 mid-gray">Email</th>
      <th class="pv1 ph2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @admins.each do |admin| %>
        <td class="pv1 ph2 mid-gray"><%= admin.id %></td>
        <td class="pv1 ph2 mid-gray"><%= admin.email %></td>
        <td class="tr pr3">
          <%= link_to "Editar", edit_admins_backoffice_admin_path(admin), class:"link dim blue" %>
          Excluir
        </td>

      <% end %>
    </tr>
  </tbody>
</table>
