<h1>Olá!</h1>
<% if user_signed_in? %>
  <p>Usuário logado</p>
<% else %>
  <p>Usuário não está logado</p>
<% end %>
<% if admin_signed_in? %>
  <p>Administrador logado</p>
<% else %>
  <p>Administrador não está logado</p>
<% end %>

<%= render 'site/shared/questions' %>
